body
{
    font-family: 'Times New Roman', Times, serif;
    background: rgb(142, 202, 236);
}

.header_div
{
    background:burlywood;
    color: coral;
}

.header_div p{
    font-family: cursive;
    color: cornflowerblue;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: fantasy;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: cornflowerblue;
    bottom: 0;
    width:100%;
    font-size:18px;
    background-color: burlywood;
    line-height:3;
    text-align:center;
    text-shadow: 5px 5px 5px gray;
}